# Environnement virtuel
venv/
env/
.env
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Init files
__init__.py

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

F-4/
I2/
M2/
S-9/
_tmp/

data/
dataset/
dataset/data/
dataset/data/generated/
results/
these/

checkpoints/
generated/

NoiseMap-RT-main/

.pt
